{% extends 'base.html' %}
{% block content %}
<main>
    <h1>My Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in accounts %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.items.all|length }}</td>
                </tr>
                {% endfor %}
    </div>
</main>
{% endblock content %}
