{% extends 'base.html' %}
{% block content %}
<main>
    <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for item in categories %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.items.all|length}}</td>
                </tr>
                {% endfor %}
    </div>
</main>
{% endblock content %}
